# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Documentation
Documentation.md

# Coverage directory
coverage/

# Build artifacts
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Temporary files
*.tmp
*.swp
*.swo

# Docker files (if Docker files should not be versioned)
Dockerfile
.dockerignore

# Miscellaneous
*.tgz
*.lock
